        @model AcademiaLaPiazzolla.Models.Profesor

@{
    ViewData["Title"] = "Registracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar</h1>

<h4>Profesor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="SexoId" class="form-control" asp-items="ViewBag.SexoId">
                    <option value="">-- Seleccione sexo --</option>
                </select>
                <span asp-validation-for="SexoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Calle" class="control-label"></label>
                <input asp-for="Direccion.Calle" class="form-control" />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Altura" class="control-label"></label>
                <input asp-for="Direccion.Altura" class="form-control" />
                <span asp-validation-for="Direccion.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Piso" class="control-label"></label>
                <input asp-for="Direccion.Piso" class="form-control" />
                <span asp-validation-for="Direccion.Piso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Departamento" class="control-label"></label>
                <input asp-for="Direccion.Departamento" class="form-control" />
                <span asp-validation-for="Direccion.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.CodigoPostal" class="control-label"></label>
                <input asp-for="Direccion.CodigoPostal" class="form-control" />
                <span asp-validation-for="Direccion.CodigoPostal" class="text-danger"></span>
            </div>
            <div id="Provincia" class="form-group">
                <label asp-for="Direccion.Localidad.Departamento.Provincia" class="control-label"></label>
                <select asp-for="Direccion.Localidad.Departamento.ProvinciaId" class="form-control" asp-items="ViewBag.ProvinciaId" id="provincia">
                    @*<option>-- Seleccione Provincia --</option>*@
                </select>
                <span asp-validation-for="Direccion.Localidad.Departamento.ProvinciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Localidad.Departamento" class="control-label"></label>
                <select asp-for="Direccion.Localidad.DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId" id="departamento">
                </select>
                <span asp-validation-for="Direccion.Localidad.DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Localidad" class="control-label"></label>
                <select asp-for="Direccion.LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId" id="localidad">
                </select>
                <span asp-validation-for="Direccion.LocalidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $.get("/Profesores/obtenerProvincias", function (data) {
                $("#provincia").append("<option> -- seleccione Provincia -- </option>")
                $.each(data, function (index, row) {
                    $("#provincia").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                });
            });
        });

        $(document).ready(function () {
            $("#provincia").change(function () {
                $.get("/Profesores/obtenerDepartamentos", { ProvId: $("#provincia").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#departamento").empty();
                    $("#localidad").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#departamento").append("<option value> -- seleccione Departamento de " + $("#provincia option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#departamento").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            });
        });

        $(document).ready(function () {
            $("#departamento").change(function () {
                $.get("/Profesores/obtenerLocalidades", { DeptoId: $("#departamento").val() }, function (data) {
                    $("#localidad").empty();
                    $("#localidad").append("<option value> -- seleccione localidad de " + $("#departamento option:selected").text() + " -- </option>")
                    $.each(data, function (index, row) {
                        $("#localidad").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            });
        });
    </script>        
}

